<template>
  <div class="billing-page">
    <h1 class="bill-header">Billing System - Generated Bill</h1>
    <!-- <div>{{  billData }}</div> -->
    <div class="bill-info">
      <p class="user-name">Customer Name: {{ billData.user_name }}</p>
      <p class="invoice-id">Invoice ID: {{ billData._id }}</p>
    </div>
    <table class="bill-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Discount %</th>
          <th>Discounted Price</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(product, index) in billData.productInfo" :key="index">
          <td>{{ product.name }}</td>
          <td>RS. {{ product.price }}</td>
          <td>x {{ product.product_quantity }}</td>
          <td>{{ product.discount }} %</td>
          <td>RS. {{ product.discounted_price }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="gst-row">
          <td colspan="4" class="total-label">GST:</td>
          <td class="total-amount">+ 18% </td>
        </tr>
        <tr>
          <td colspan="4" class="total-label">Total Amount:</td>
          <td class="total-amount">RS. {{ billData.total_amount }}</td>
        </tr>
      </tfoot>
    </table>
    <!-- Add Download Invoice button -->
    <button @click="downloadInvoice" class="download-button">Download Invoice</button>
  </div>
</template>

  
<script>
import axios from 'axios';
// import GetProducts from './GetProducts.vue';
  
  export default {
    // components: {
    //     GetProducts,
    // },
    props:{
      id: String
    },
    data(){
        return {
            billData: {},
            responseId: '',
        }
    },
    // You can fetch and display the bill details here
    mounted() {
    // Access the id prop from the route parameter
    const id = this.id;

    // Make a GET request to fetch additional data
    axios
        .get(`http://0.0.0.0:6005/v1.0/company/1/billing/${id}`)
        .then((response) => {
        // Handle the successful GET request response and store the data as needed
        this.billData = response.data.data; // Assuming billData is a data property to store the response
        console.log(this.billData, response)
        })
        .catch((error) => {
        console.error('Error:', error);
        });
    },

    methods: {
    downloadInvoice() {
      // Make a GET request to download the invoice PDF
      const invoiceId = this.billData._id;
      axios
        .get(`http://0.0.0.0:6005/v1.0/company/1/download-billing/${invoiceId}`, {
          responseType: 'blob', // Set the response type to 'blob' to handle binary data
        })
        .then((response) => {
          // Create a blob URL for the PDF and trigger the download
          const blob = new Blob([response.data], { type: 'application/pdf' });
          const url = window.URL.createObjectURL(blob);
          const a = document.createElement('a');
          a.href = url;
          a.download = `invoice_${invoiceId}.pdf`; // You can customize the filename here
          a.click();
          window.URL.revokeObjectURL(url);
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    },
  },

  };
  </script>

<style scoped>
.billing-page {
  background-color: #e4daf3;
  padding: 20px;
  margin: 20px;
  font-family: Arial, sans-serif;
  color: #966fd6;
  border-radius: 20px;
}

.bill-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #6b2ad4;
}

.bill-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: black;
}

.invoice-id {
  font-size: 16px;
  font-weight: bold;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
}

.bill-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border: 1px solid #af99d3;
}

.bill-table th,
.bill-table td {
  border: 1px solid #966fd6;
  padding: 10px;
  text-align: left;
}

.bill-table th {
  background-color: #966fd6;
  color: white;
  font-weight: bold;
}

.total-label {
  font-weight: bold;
  text-align: right;
}

.total-amount {
  font-weight: bold;
  text-align: left;
}

.download-button {
  margin-top: 20px;
  background-color: #6b2ad4;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.download-button:hover {
  background-color: #4b1786;
}

.gst-row{
  color: black;
  font-size: 12px;
}

</style>

  