<template>
    <div class="create-product">
      <h1>Create New Product</h1>
      <form @submit.prevent="saveProduct">
        <div class="form-group">
          <label for="name">Product Name:</label>
          <input
            type="text"
            id="name"
            v-model="productData.name"
            required
          />
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <input
            type="number"
            id="price"
            v-model="productData.price"
            required
            min="0.01"
            step="0.01"
          />
        </div>
        <div class="form-group">
          <label for="discount">Discount:</label>
          <input
            type="number"
            id="discount"
            v-model="productData.discount"
            min="0"
            max="100"
            step="1"
          />
        </div>
        <button type="submit" class="save-button">Save Product</button>
      </form>
      <p v-if="success" class="green-toast">Product Saved!</p>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    data() {
      return {
        productData: {
          name: '',
          price: 0,
          discount: 0,
        },
        success: false,
      };
    },
    methods: {
      saveProduct() {
        this.success = false;
        let axiosConfig = {
            headers: {
                'x-user-data': JSON.stringify({'username':'John Doe', '_id':101, 'uid':11}),
                'Content-Type': 'application/json;charset=UTF-8',
                "Access-Control-Allow-Origin": "*",
            }
        };
        // Make an Axios POST request to save the product
        axios
          .post('http://0.0.0.0:6005/v1.0/company/1/products/', this.productData, axiosConfig)
          .then((response) => {
            // Clear input values
            this.productData.name = '';
            this.productData.price = 0;
            this.productData.discount = 0;

            // Show a success toast message
            this.success = true;
            
            console.log('Product saved:', response.data);
          })
          .catch((error) => {
            // Handle errors
            console.error('Error:', error);
          });
      },
    },
  };
  </script>
  
  <style scoped>
  .create-product {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0; /* Light gray background */
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 800px;
    display: inline-block;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #6b2ad4; /* Purple title color */
  }
  
  .form-group {
    margin-bottom: 15px;
    padding: 0 20px 0 10px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button.save-button {
    background-color: #6b2ad4; /* Purple save button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button.save-button:hover {
    background-color: #4b1786; /* Darker shade of purple on hover */
  }
  .green-toast {
    text-align: center;
    display: inline;
    color: green;
    font-weight: bold;
}
  </style>
  