<template>
  <div class="list-block">
    <h1 class="title">{{ message }}</h1>
    <ul class="product-list-ul">
      <li v-for="product in products" :key="product.uid" class="product-item">
        <div class="product-details">
          <span class="product-name">{{ product.name }}</span>
          <span class="product-price">
            <span>Price: RS. <span v-if="product.price!=product.discounted_price" class="product-price-cancelled">{{ product.price }}</span></span>
            <span class="product-price">{{ product.discounted_price }}</span>
          </span>
        </div>
        <div class="quantity-controls">
          <button @click="incrementQuantity(product.uid)" class="quantity-button">+</button>
          <span class="quantity">{{ getQuantity(product.uid) }}</span>
          <button
            v-if="getQuantity(product.uid) > 0"
            @click="decrementQuantity(product.uid)"
            class="quantity-button"
          >
            -
          </button>
        </div>
      </li>
      <p v-if="responseProducts.length > 0" class="added-products">{{ addedProductsCount }} number of products have been added!</p>
    </ul>
    <button @click="saveAndRedirect" class="save-button">Order and View Bill</button>
    <p v-if="error" class="error-message">Add Items to view bill</p>
  </div>
</template>
  
  
  <script>
  import axios from 'axios';

  export default {
    data() {
      return {
        message: 'Add Products to Order',
        products: [],
        responseProducts: [], // List to store selected products
        addedProductsCount: 0,
        responseDict: {}, // Dictionary to store selected products with quantities
        responseId: '',
        error: false,
      };
    },
    mounted() {
      // Make an Axios GET request to the /products API
      this.fetchProducts();
    },
    methods: {
      async fetchProducts() {
        // Make an Axios GET request to the /products API
        axios.get('http://0.0.0.0:6005/v1.0/company/1/products/') // Replace with your API endpoint
          .then(response => {
            // Handle the successful response
            this.products = response.data.items;
          })
          .catch(error => {
            // Handle any errors that occur during the request
            console.error('Error fetching products:', error);
          });
      },
      addToResponseList(uid) {
        console.log(uid, "uid");
        this.responseProducts.push(uid);
        this.addedProductsCount ++;
        // this.responseDict[uid] = 
    },
    saveAndRedirect() {
      this.error = false;
      let axiosConfig = {
        headers: {
            'x-user-data': JSON.stringify({'username':'John Doe', '_id':101, 'uid':11}),
            'Content-Type': 'application/json;charset=UTF-8',
            "Access-Control-Allow-Origin": "*",
        }
      };
      if (Object.keys(this.responseDict).length === 0){
        this.error = true;
      }
      if(!this.error){
      let responseData = {
        products: this.responseDict
      }

      // Make a POST request with this.responseProducts
      // Example Axios POST request
      axios
        .post('http://0.0.0.0:6005/v1.0/company/1/billing/', responseData, axiosConfig)
        .then((response) => {
          // Capture the response data
          const responseData = response.data;
          console.log(responseData.data, responseData.data._id)
          this.responseId = responseData.data._id;
          // Redirect to the /bill page and pass responseData as a route parameter
          this.$router.push({ path: '/bill' , query: { id: responseData.data._id } });
        })
        .catch((error) => {
          console.error('Error:', error);
        });
      }
    },
    isAdded(uid) {
      return this.responseProducts.includes(uid);
    },
    removeFromResponseList(uid) {
      const index = this.responseProducts.indexOf(uid);
      if (index !== -1) {
        this.responseProducts.splice(index, 1);
        this.addedProductsCount --;
      }
    },
    incrementQuantity(uid) {
      if (!this.responseDict[uid]) {
        this.responseDict[uid] = 1;
      } else {
        this.responseDict[uid]++;
      }
    },
    decrementQuantity(uid) {
      if (this.responseDict[uid] > 0) {
        this.responseDict[uid]--;
      }
    },
    getQuantity(uid) {
      return this.responseDict[uid] || 0;
    },
    // removeFromResponseList(uid) {
    //   if (this.responseDict[uid]) {
    //     if (this.responseDict[uid] === 1) {
    //       delete this.responseDict[uid];
    //     } else {
    //       this.responseDict[uid]--;
    //     }
    //     this.addedProductsCount--;
    //   }
    // },
  },
  props: { localResponseId: String },
  };
  </script>
  
  <style scoped>
.list-block {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: #e4daf3;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.title {
  font-size: 24px;
  color: #6b2ad4; /* Pastel purple */
  margin-bottom: 20px;
}

.product-list-ul {
  list-style: none;
  padding: 0;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background-color: #efeaf6;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.product-item:hover {
  background-color: #a9cce3; /* Pastel blue */
}

.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.product-price {
  color: #888;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-button {
  background-color: #6b2ad4; /* Pastel purple */
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.quantity-button:hover {
  background-color: #4b1786; /* Darker shade of pastel purple */
}

.quantity {
  font-size: 18px;
  font-weight: bold;
}

.added-products {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

.save-button {
  background-color: #6b2ad4; /* Pastel purple */
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: #4b1786; /* Darker shade of pastel purple */
}

.error-message {
  color: #ff0000; /* Red text color */
  cursor: pointer;
  transition: border-color 0.3s, color 0.3s;
  font-size: 12px;
}

.error-message:hover {
  color: #ff6b6b; /* Pastel red text color on hover */
}

body {
  background-color: rgba(253, 253, 253, 0.858);
  margin: 0;
  padding: 0;
}
.product-price-cancelled {
  text-decoration: line-through;
  margin-right: 5px;
}
</style>