<template>
    <div>
      <h1 class="title">Home</h1>
      <button @click="redirectToMore" class="button">Go to Products</button>
      <button @click="redirectToCreateProducts" class="button">Create Products</button>
    </div>
  </template>
  
  <script>
  export default {
    methods: {
      redirectToMore() {
        this.$router.push('/more');
      },
      redirectToCreateProducts() {
        this.$router.push('/products');
      },
    },
  };
</script>
  
  <style>
  /* Add your component styles here */
  /* Beige background */
body {
  background-color: rgb(251, 251, 246);
  margin: 0;
  padding: 0;
}

/* Brown title */
.title {
  font-size: 24px;
  font-weight: bold;
  color: brown;
  margin: 20px;
}

/* Pastel button */
.button {
  background-color: #ffcc99; /* Pastel orange */
  color: #664422; /* Brown text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 20px;
}

.button:hover {
  background-color: #ffddaa; /* Lighter pastel orange on hover */
}
  </style>